* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: #d36;
    --grey-dark: #333;
    --grey-light: #e5e5e5;
}

body {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 20% 1fr;
    color: var(--grey-dark);
    overflow-x: hidden;
}

#navbar {
    grid-column: 1/2;
    width: 20%;
    height: 100%;
    padding: 2.9rem;
    background-color: var(--grey-dark);
    color: var(--grey-light);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
}

#navbar header {
    font-size: 2rem;
    color: var(--pink);
}

#navbar a:link,
#navbar a:visited {
    text-decoration: none;
    color: var(--grey-light);
    transition: all .5s;
    display: flex;
}

#navbar a:hover,
#navbar a:active {
    text-decoration: underline;
    color: var(--pink);
}

.main-img {
    height: auto;
    max-width: 40%;
    display: block;
    margin: auto;
    padding: 2rem 0 1rem;
}

figcaption {
    text-align: center;
    margin-bottom: 2rem;
}

#main-doc {
    grid-column: 2 / 3;
    padding: 3rem;
    line-height: 170%;
    text-align: justify;
}

.main-section header {
    font-size: 2rem;
    color: var(--grey-dark);
    padding: 2rem 0;
    line-height: 110%;
    text-align: left;
}

code {
    color: var(--pink);
    background: var(--grey-light);
    padding: .3rem;
    border-radius: 5px;
}

.options {
    padding: 2rem 0 1rem;
    text-decoration: underline;
}

@media only screen and (max-width: 960px) {
    body {
        grid-template-columns: 30% 1fr;
    }
    #navbar {
        width: 30%;
    }
    .main-img {
        height: auto;
        max-width: 80%;
    }
}

@media only screen and (max-width: 650px) {
    body {
        grid-template-columns: 2rem 1fr;
    }
    
    #main-doc {
        text-align: left;
    }
    
    .menuButton {
        grid-column: 1 / 2;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        padding: 1rem;
        background-color: var(--pink);
        color: var(--grey-dark);
        position: fixed;
    }
    
    .displayBlock {
        display: block;
    }
    .displayNone {
        display: none;
    }
}